/*
藍 深 --> 淺:
#0000A1
#1F6ED4
#39BAE8
#B9EDF8
*/

a {
  color: #0000A1;
}
a:visited {
  color: #4f2a05;
}

body {
  color: #0000A1;
}

h1 {
  font-size: 28px;
}

.portlet .portletContent {
    background: #B9EDF8;
}

.portlet .portletHeader {
    background: #39BAE8;
}

.cover-album .row {
  margin: 10px; 
}

.template-album_view div.image-title {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-album_view div.image-title span {
  display : inline-block;
  white-space: nowrap;
}




.pagination li.active > span {
  color: #fff;
  background-color: #0000A1;
  border: 1px solid #0000A1 !important;
}

.pagination li > a:hover, .pagination li > a:focus {
  color: #763c00;
  border: 1px solid #e5e5e5 !important;
}

.pagination li > a, .pagination li > span {
  color: #0000A1;
}

.template-custom_table_view table {
  table-layout: fixed;
  word-wrap:break-word;
}

.template-custom_table_view table td.title {
  width: 90%;
}

.template-custom_table_view table td.date {
  width: 10%;
}

.template-custom_table_view table td.title div {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.template-custom_table_view table td.title div a {
  white-space: nowrap;
}

.template-custom_table_view #content-core ul {
  padding-inline-start: 1px;
}

.portlet .portletHeader > a, .portlet .portletHeader {
  color: #0000A1;
}

#portal-footer-wrapper {
  background-color: #0000A1;
  color: #fff;
}

#portal-footer-wrapper a {
  color: #e8e48a;
}

#above-content-wrapper {
  margin-top: 30px;  
}

.template-cover_view #above-content-wrapper {
    margin-top: 0;
}

.plone-nav > li > a:hover, .plone-nav > li > a:focus {
  background-color: #f2b600;
}

.plone-navbar-nav > .selected > a, .plone-navbar-nav > .selected > a:hover, .plone-navbar-nav > .selected > a:focus {
  background-color: #f2b600;
}

.plone-navbar {
  background-color: #0000A1;
}

#content-header {
  padding: 8px 0;
  background: url(/Plone2/++plone++ncue.content/bg2.png);
  background-size: cover;
}

#portal-header a {
  max-width: 250px;
}

#portal-header a img { 
  width: 100%;
}

.portletRelatedLink .portletContent > ul > li a{
  padding: 3px;
}

.portletRelatedLink .portletContent > ul > li {
  text-align: center;
}

.portletRelatedLink .portletContent > ul > li > a {
  border: 0;
}

.portletRelatedLink .portletContent > ul {
  padding: 10px;
}

.plone-navbar {
  margin-bottom: 0;
}

.flexslider {
  border: 0;
}

#student-table .tr-title {
  background: yellow;
  color:#333;
}
#student-table .tr-title td {
  font-size:20px;
  text-align: center !important;
}

#student-table td {
  border: 1px #555 solid;
  padding: 5px;
}
#student-table td.tr-field-name{
  background: #b3b3dc;
  color: #333;
}

.links li {
  list-style: none;
  margin-bottom: 10px;
}
.links ul {
  padding: 0;
}

div.cover-news .item {
  overflow : hidden;
  text-overflow : ellipsis;
  white-space : nowrap;
  width: 100%;
}

.outer-wrapper {
  background: #b9edf866;
}

.portletWrapper, table.listing {
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}

.listing > tbody > tr:nth-child(even) > td, .listing > tbody > tr:nth-child(even) > th {
    background-color: #fff7d9;
}

.plone-nav li label::after {
  content: none;
}

.plone-nav li.has_subtree a {
    padding-right: 15px;
}

.plone-nav li ul li a {
    background-color: #1F6ED4;
}



/*
藍 深 --> 淺:
#0000A1
#1F6ED4
#39BAE8
#B9EDF8
*/
